.carousel-height{
    height: 100vh;
}

.d-item{
    height: 800px;
}

.d-img{
    height: 100%;
    object-fit: cover;
    filter: brightness(0.8);
}
.d-title{
    background-color: aqua;
    float: left;
}

.b-img{
    height: 300px;
    width: 100%;
    object-fit: cover;
}


.img-obj-fit{
    width: 100%;
    object-fit: cover;
}

/* Transmisiones */

.card-transmission:hover img{
    filter: brightness(0.8);
    transition: all 200ms;
}
.card-transmission .card-transmission-title{
    background-color: rgba(0, 0, 0, 0.284);
    color: white;
}
