.carousel-height{
    height: 100vh;
}

.d-item{
    height: 800px;
}

.d-img{
    height: 100%;
    object-fit: cover;
    filter: brightness(0.8);
}
.d-title{
    background-color: aqua;
    float: left;
}

.b-img{
    height: 300px;
    width: 100%;
    object-fit: cover;
}


.img-obj-fit{
    width: 100%;
    object-fit: cover;
}

/* Transmisiones */

.card-transmission:hover img{
    filter: brightness(0.8);
    transition: all 200ms;
}
.card-transmission .card-transmission-title{
    background-color: rgba(0, 0, 0, 0.284);
    color: white;
}

/* Card planilla docente */
.planilla{
    backdrop-filter: blur(7px);
}

.planilla:hover > :not(:hover){
    opacity: 0.2;
}

.planilla-card{
    transition: all 0.21s;
    width: 250px;
}

.planilla-card:hover{
    transform: scale(1.04);
}

.planilla-card-title{
    
    background-color: rgba(225, 225, 225, 0.79);
    box-shadow: 0px -3px 20px 0 rgba(225, 225, 225, 0.79) ;
}

.planilla-card-title h2{
    padding-left: 50px;
}
.planilla-card-title i{
    left: 26px;
    position: absolute;
}